
@{
    Layout = "~/Views/Shared/PayPalTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Your PayPal payment is successful. You can now view the package on the 'Purchased' section.</p>
        </div>
    </div>
</div>