<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="testEntities3" Order="1" Enabled="False">
          <Destination Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebTest.testEntities3, WebTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebTest.Models.ApplicationDbContext, WebTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="testEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\testEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.WebTest.csdl|res://*/Models.WebTest.ssdl|res://*/Models.WebTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GAEFA02-PC\SQLEXPRESS;initial catalog=test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="testEntities2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\testEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WebTest.csdl|res://*/WebTest.ssdl|res://*/WebTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GAEFA02-PC\SQLEXPRESS;initial catalog=test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="testEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\testEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Test.csdl|res://*/Test.ssdl|res://*/Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GAEFA02-PC\SQLEXPRESS;initial catalog=test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WebTest" Order="6" Enabled="True">
          <Destination Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebTest_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WebTest.csdl|res://*/WebTest.ssdl|res://*/WebTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GAEFA02-PC\SQLEXPRESS;initial catalog=test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)testEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)testEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)testEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)testEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/WebTest.csdl|res://*/WebTest.ssdl|res://*/WebTest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=GAEFA02-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebTest-Web.config Connection String">
      <ParameterValue>metadata=res://*/WebTest.csdl|res://*/WebTest.ssdl|res://*/WebTest.msl;provider=System.Data.SqlClient;provider connection string="data source=GAEFA02-PC\SQLEXPRESS;initial catalog=test;integrated security=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>