@model string

@{
    Layout = "~/Views/Shared/TransferTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                Your bookcode is <b>@Html.DisplayFor(model => model)</b>
            </div>
            <div class="well well-sm">
                Please confirm your payment on the pending section in the navigation bar so that your purchase will be registered in our system
            </div>
        </div>
    </div>
</div>

