@{
    ViewBag.Title = "WebTest - Approve Transfer Payment";
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form role="form" method="post" action="@Url.Action("TestEmail","Gaefa")">
                @Html.AntiForgeryToken()
                <input type="submit" id="sendButton" class="btn btn-primary form-control" value="TEST SEND" />
            </form>
        </div>
    </div>
</div>
