@{
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
    ViewBag.Title = "WebTest - Error";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            Ooops.. An error has occured. Please try again or contact our admin.
        </div>
    </div>
</div>
