
@{
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
    ViewBag.Title = "WebTest - PayPal payment has been canceled";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>You have canceled your payment.</p>
        </div>
    </div>
</div>