
@{
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
    ViewBag.Title = "WebTest - PayPal payment has failed";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Your PayPal payment is failed. Please Try Again.</p>
        </div>
    </div>
</div>
