@model string

@{
    Layout = "~/Views/Shared/GaefaTemplate.cshtml";
    ViewBag.Title = "WebTest - PayPal payment is successful";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">Your PayPal payment is successful.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">Your booking code is <b>@Html.DisplayFor(model => model)</b></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">You can view your booking detail via the <b>Find booking</b> section or click the button below.</div>
            <form method="post" action="@Url.Action("PayPalDetail","Gaefa")">
                @Html.AntiForgeryToken()
                <input type="hidden" name="bookingCode" value="@Html.DisplayFor(model => model)" />
                <input type="submit" class="btn btn-primary form-control" value="View details" style="min-width:100%" />
            </form>
        </div>
    </div>
</div>