@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

@Html.Raw(TempData["pass"])

<div class="container-fluid">
    <div id="alertCurrentPassword">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Password</div>
                </div>
                <form role="form" id="changePassword" method="post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" minlength="6" class="form-control" id="currPass" name="currPass" placeholder="Enter your current password" required/>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" minlength="6" class="form-control" id="newPass" name="newPass" placeholder="Enter your new password" required/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" minlength="6" class="form-control" id="confirmNewPass" name="confirmNewPass" placeholder="Enter your new password again" required/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" id="submitChangePassword" class="btn btn-xs btn-primary form-control" value="Submit Change" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var password = document.getElementById("newPass")
    var confirm_password = document.getElementById("confirmNewPass");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>
