@model WebTest.password_confirmation

@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="changeForgotNewPasswordAlert">

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Change Your Password</div>
                </div>
                <div class="panel-body text-center">
                    <form role="form" method="post" id="createNewPassword">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="emailToChangePassword" name="email" value="@Html.DisplayFor(model => model.email)" />
                        <input type="hidden" id="token" name="token" value="@Html.DisplayFor(model => model.token)" />
                        <div class="form-group">
                            <input type="password" minlength="6" class="form-control" id="newPassword" name="password" placeholder="Enter your new Password" style="min-width:100%" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" minlength="6" class="form-control" id="confirmNewPassword" name="confirmPassword" placeholder="Confirm your new Password" style="min-width:100%" required />
                        </div>
                        <input type="submit" id="submitForgotNewPassword" class="btn btn-primary form-control" value="Submit New Password" />
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    var password = document.getElementById("newPassword")
    var confirm_password = document.getElementById("confirmNewPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>