@model string
@{ 
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Successful</title>
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/home.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <style>
        .inverse-dropdown {
            background-color: #222;
            border-color: #080808;
        }

            .inverse-dropdown > li > a {
                color: #999;
            }

                .inverse-dropdown > li > a:hover {
                    color: #fff;
                    background-color: #000;
                }

            .inverse-dropdown > .divider {
                background-color: #000;
            }
    </style>
</head>

<body>
    @Html.Partial("Navbar")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" id="url" value="@Model"/>
                <div class="alert alert-success" role="alert"><span class='glyphicon glyphicon-ok' aria-hidden='true'></span><span class='sr-only'>Success: </span> Login Successful. You will be redirected back to home page in <span id="timeLeft">3</span></div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    </script>
    <script src="~/Scripts/navbar.js"></script>
    <script>
        $(document).ready(function () {
            var url = ($('#url').val()).replace(/__ampersand__/g,"&");
            window.setInterval(function () {
                var timeLeft = parseInt($("#timeLeft").text());
                if (timeLeft <= 1) {
                    window.location.href = ("@Url.Action("Index","Home")");
                } else {
                    $("#timeLeft").text(timeLeft - 1);
                }
            }, 1000);
        });
    </script>
</body>

</html>


