@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
    ViewBag.Title = "Test - Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="loginAlert">

        </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Login</div>
            </div>
            <div class="panel-body">
                <form method="post" id="loginForm">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" style="min-width:100%" maxlength="50" required autofocus/>
                    </div>
                    <div class="form-group">
                        <input type="password" minlength="6" class="form-control" name="password" id="password" placeholder="Enter your password" style="min-width:100%" maxlength="15" required/>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-7 col-md-5 pull-right form-group text-center">
                            <a href="@Url.Action("ForgotPassword","Home")">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="form-control btn btn-primary" value="Login" id="loginButton"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>